<% content_for :page_title, "Shift it. How to" %>
<!DOCTYPE html>
<html>
<head>
  <title>Shift it. How to</title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<%= render 'shared/navbar' %>
<body>
  <h1>Shift it. How to</h1>
  
  <p>Effective Date: <%= Time.now.strftime("%Y-%m-%d") %></p>

  <p>This 'How to' outlines how to use the basic features of 'Shift it.'
  <h2>1. Groups</h2>

  <h3>1.1 Create a Group:</h3>
  <ul>
    <li>Touch 'Groups' Tab</li>
    <li>Touch 'Create Group' Button</li>
    <li>Name group and create</li>
  </ul>

  <h3>1.2 Invite Users:</h3>
  <ul>
    <li>Go to 'My Groups' screen in 'Groups' tab</li>
    <li>Touch the Group you want to invite Users to</li>
    <li>Touch 'Group Details' Button</li>
    <li>Touch 'Invite' Button</li>
    <li>Start writing the name or email of the user you want to invite</li>
    <li>Select the checkbox against their name and email</li>
    <li>Touch 'Confirm Invites'</li>
    <li>Touch 'Confirm'</li>
  </ul>

  <h3>1.3 Join a Group:</h3>
  <ul>
    <li>Touch the 'Discover' Button in the 'Groups' tab</li>
    <li>Write the name of the group you are looking to join</li>
    <li>Select the checkbox against the name</li>
    <li>Touch 'Ask to Join'</li>
    <li>Touch 'Confirm'</li>
    <li>Wait for an Admin of the Group to accept your request</li>
  </ul>

  <h2>2. Posts</h2>

  <h3>2.1 Create a Post</h3>
  <ul>
    <li>Touch 'Create' Tab</li>
    <li>Touch 'Group Not Select' field under 'Group'</li>
    <li>Select the group you want to post in, if you are not in any groups, please see section 1 above</li>
    <li>Touch the 'Post Ends' field, to select the date and time you want to post to end</li>
    <li>Touch the 'Add Shift' button, to give the details of the shift</li>
    <li>Touch the 'Reserve' field, to determine the maximum you are willing to pay someone to cover the shift, or the
    minimum you are willing to receive, if you are not willing to pay anything</li>
    <li>Add a description as to why you are making the post</li>
  </ul>

  <h3>2.2 Like and Comment on a Post:</h3>
  <ul>
    <li>Touch the Love heart icon to 'Like' the post</li>
    <li>Touch the Comment icon to go to the 'Post' screen, where you can make a comment</li>
  </ul>

  <h3>2.3 Bid on Post:</h3>
  <ul>
    <li>Touch the 'Bid' Icon on the Post</li>
    <li>Move the slider to the amount of dollar you are willing to bid, for the shift</li>
    <li>Touch 'Create Bid'</li>
    <li>Touch 'Confirm' if you are happy with the amount</li>
  </ul>

  <h2>3. Profile</h2>

  <h3>3.1 Change Profile Picture</h3>
  <ul>
    <li>Touch 'Profile' Tab</li>
    <li>Touch 'Edit' next to 'Profile Picture'</li>
    <li>Select a picture from your camera roll</li>
    <li>Touch the 'Save' button</li>
  </ul>

  <h3>2.2 Change Name</h3>
  <ul>
    <li>Touch 'Edit' next to 'Name'</li>
    <li>Write into field desired name</li>
    <li>Touch 'Save'</li>
  </ul>

  <div id='delete_profile_section'>
    <h3 >2.2 Delete Profile</h3>
    <ul>
      <li>Touch 'Profile' Tab</li>
      <%= image_tag "profile_view.png", alt: "Profile tab screen view, with the 'delete account' link emphasised in red.", style: "width: 393px; height: 808px"%>
      <li>Touch 'Confirm' to delete your account and it's associated data, permanently.</li>
      <%= image_tag "delete_account_confirmation.png", alt: "Delete account screen view, with the 'confirm' button to execute deletion.", style: "width: 393px; height: 808px" %>
    </ul>
  </div>

  <h2>Contact Us</h2>

  <p>If you have any questions, please contact us at 'shift.it.contact.us@gmail.com'</p>

</body>
</html>
